# editorconfig.org

root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
inser_final_newline = true

[*.md]
trim_trailing_whitespace = false

# for this config to work use: `ext install EditorConfig`
# in VSCode hit Ctrl + P